django
djangorestframework
django-cors-headers
gunicorn
django-allauth
dj-rest-auth
requests
PyJWT
cryptography

# PostgreSQL
psycopg2-binary

# JWT Authentication
djangorestframework-simplejwt

# Environment variables
python-decouple